
## <summary>policy for tmicoin</summary>


########################################
## <summary>
##	Transition to tmicoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`tmicoin_domtrans',`
	gen_require(`
		type tmicoin_t, tmicoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, tmicoin_exec_t, tmicoin_t)
')


########################################
## <summary>
##	Execute tmicoin server in the tmicoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tmicoin_initrc_domtrans',`
	gen_require(`
		type tmicoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, tmicoin_initrc_exec_t)
')


########################################
## <summary>
##	Search tmicoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tmicoin_search_lib',`
	gen_require(`
		type tmicoin_var_lib_t;
	')

	allow $1 tmicoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read tmicoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tmicoin_read_lib_files',`
	gen_require(`
		type tmicoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, tmicoin_var_lib_t, tmicoin_var_lib_t)
')

########################################
## <summary>
##	Manage tmicoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tmicoin_manage_lib_files',`
	gen_require(`
		type tmicoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, tmicoin_var_lib_t, tmicoin_var_lib_t)
')

########################################
## <summary>
##	Manage tmicoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tmicoin_manage_lib_dirs',`
	gen_require(`
		type tmicoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, tmicoin_var_lib_t, tmicoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a tmicoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`tmicoin_admin',`
	gen_require(`
		type tmicoin_t;
		type tmicoin_initrc_exec_t;
		type tmicoin_var_lib_t;
	')

	allow $1 tmicoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, tmicoin_t)

	tmicoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 tmicoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, tmicoin_var_lib_t)

')

